.bt {
    border: none;
    color: #E1DEE3;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 50px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.bts {
    background-color: #FF6C22; 
    color: #29797C; 
    border: 2px solid #FF6C22;
}
  
.bts:hover {
    background-color: #1abc9c;
    color: white;
}

.botao-importar{
    display:inline-block; 
}
.botao-alocacao{
    display:inline-block;
}

.botao-manual{
    display:inline-block;
}

.botao-finalizar{
    float:right;
}

.botao-deletar{
    display:inline-block;
}

.msg{
    color:#E1DEE3;
    margin-left: 20px;
    font-size: 25px;
}

.bta {

    color: #29797C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FF6C22;
}

.bt1 {
    color: #29797C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FF6C22;
}

.bg{

    background-color: #29797C;
    border-radius: 10px;
    margin: 10PX;
    max-width: 100%;
    max-height: 1000px;
    border: 2px solid #FF6C22;
    
}

table{
    border-collapse: collapse;
    width: 98%;
    margin: 10px;
    background-color: #E1DEE3;
    border: 2px solid #FF6C22;
}

td, th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #FF6C22 ;
    border-right: 2px solid #FF6C22;
}

td:hover{
    background-color: #29797C;
}