h1 {
    color: #E1DEE3;
    text-align: center;
    margin-left: 150px;

}



.topo{
    display: table;
    float:center;
}

.logo{
    display: table-cell;
    float:left; 
}
.titulo{
    display: table-cell;

}

.container {
    max-width: 500px;
    margin: auto auto;
}




form {
    align-items: center;
    justify-content: center;
    background-color: #29797C;
    max-width:400px;
    height: 400px;
    padding: 40px;
    border: medium;
    border-radius: 20px;
    border: 2px solid #FF6C22;
}

form h2{
    color: #E1DEE3;
    text-align:center;
    font-size: 50px;
    margin-left: 0px;

}

.input-single {
    position: relative;
    margin: 20px 0;
}

.input-single label {
    margin-left: 35px;
    color: #E1DEE3;
    font-size:25px;
    left: 0;
    bottom: 5px;
}

.input {
    margin-left: 35px;
    text-align:left;
    width: 80%;  
    border: 0;
    border: 2px solid #FF6C22;
    font-size: 25px;
    border-radius: 6px;
}

.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit] {
    padding: 10px 40px;
    border: 0;
    border-radius: 6px;
    background-color: #E1DEE3;
    border: 2px solid #FF6C22;
    color: #29797C;
    font-size:25px;
    cursor: pointer;
}