h1 {
    color: #E1DEE3;
    text-align: center;
    margin-left: 150px;
    
}

h2 {
    color: #E1DEE3;
    text-align: center;
    margin-left: 150px;
    
}


/*Alinha titulo e logomarca*/
.topo{
    display: table;
    float:center;
}

.logo{
    display: table-cell;
    float:left; /*logo ufcat*/
}
.titulo{ 
    margin-left: 200px;
    padding-left: 200px;
    display: table-cell;
    
}
tbody {
    display:block;
    max-height:600px;
    overflow-y:auto;
}
thead , tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    border-color: #FF6C22;
    
}
thead {
    width: calc( 100% - 1em )
} 


.btn_voltar{
    color: #29797C;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FF6C22;
    margin-bottom: 15px;
}

.btn_filtro{


color: #29797C;
background-color: #E1DEE3;
text-align: left;
border: 2px solid #FF6C22;
border-radius: 6px;
width: 13%;
display: table-cell;
float:left;
padding-left: 10px;


}

.container2{
    display: table-cell;
    width: 80%;
    padding-left: 7%;
    background-color: #297A7D;
    height: 80%;    
}

.card-body{
    background-color: #297A7D;
    border: 2px solid #FF6C22;
    border-radius: 6px;
}

.col-12{
    
    background-color: #E1DEE3;
    height: 80%;
    
}

.row{
    height: 80%;
}
.btn_limpar{
    text-align: left;
    border: 2px solid #FF6C22;
    border-radius: 6px;

    color: #297A7D;
    display: table-cell;
    float: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
}

